.custom-navbar {
  width: 100%;
  /* background-color: #29ad48; */
  background-color: #f8f9fa;
  /* height: 60px; */
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  border-bottom: 2px solid black;
}
